@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script:wght@400;500&display=swap');
body{
    margin: 0;
    background: rgb(0, 0, 0);
    overflow: hidde;
}
.texto{
    color: aquamarine;
    background:transparent;
    font-family: 'Dancing Script';
    padding: 0px 3px 0px;
}
ul{
    list-style: none;
    padding: 0;   
    overflow: hidden;
    transition: 0.5s;
}
nav{
    background: rgba(34, 240, 240, 0.842);
    padding: 5 10px 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(34, 240, 240, 0.842);
}
H1, p {
    color: black;
}
nav,ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 0 20px;
    font-family:EB Garamond ;
    font-size: 20px;
    
}
H1{
    padding: 10px;
    margin: 0;
    height: -40px;
}

li:hover,
H1:hover
button:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255,255, 255, 0,2);
}
button{
color:black;
background: transparent;
border: none;
font-size: 25px;
position: absolute;
right: 10px;
top: 10px;
display: none;
}
button:focus~ul{
    height: 200px;
}
.conteiner{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:300px ;
   }
   .item-galeria{
       position: relative;
       left: 100px;
   }
   .item-galeria .I-galeria{
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
   
   .item-galeria .Tgaleria{
       position: absolute;
       background-color: black;
       left: 0;
       bottom: 0;
       color: white;
       padding: 10px;
       font-size: 10px;
   }
   

@media only screen and (max-width:700px){
    .body{
        overflow: auto;
    }
    nav, ul{
        flex-direction: column;
       
    }
    ul{
        text-align: center;
        margin: 0;
        height: 0;
    }
    nav{
        padding: 0px;
        align-items: flex-start;
        box-shadow: 0px 5px 10px rgba(34, 240, 240, 0.842);
        border-radius: 20px;
    }
    H1{
        margin-left: 10px;
        margin-top: 10px;
    }
    button{
        display: flex;
    }
    li, ul{
        width: 95%;
    }
    .texto{
        width:auto;
        font-size: 50%;
    }
    .conteiner{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 70%;
        right: 45px;
    }

  
  }


