@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
    width: auto;
   margin:0px;
   font-family: 'Dancing Script', sans-serif;
   overflow-y: hidden;
    overflow-x: hidden;
}
.body *{
    box-sizing: border-box;
    
}

.main-login{
    
    width: 100vw;
    height: 100vh;
    background: #1a151d;
    display:flex;
    justify-content:center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
color: rgba(34, 240, 240, 0.842);
}
.casal{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;

}

.card-login{
    width: 60%;
    display:flex;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#3c1dc2f8;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #3e21bd; 
}

.card-login > h1 {
    color:  #4cc8d8;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center
    
}

.textfield > input {
   width: 100%;
   border: none;
    border-radius: 10px;
    padding: 15px;
    background: #1a151d;
    box-sizing: border-box;
}
.textfield > label {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.textfield >input::placeholder{
color: #4cc8d8;
}
.G23{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase ;
    font-weight: 800;
    letter-spacing: 3px;
    color: #1a151d; 
    background: #4cc8d8;
    
}

@media only screen and (max-width:950px){
    .card-login{width: 85%
    }
}

@media only screen and (max-width:600px){
.main-login{flex-direction: column;}
.left-login>h1{display: none;}
.left-login{
    width: 100%;
    height: auto;
}
.rigth-login{
    width: 80%;
    height: auto;
}
}